In [1]:
import numpy as np
import pandas as pd
import requests

In [24]:
1 - (2 == 3)

1

In [2]:
def get_data():
    """
    Call the API to receive data.
    
    Returns:
    Events, phases, teams, elements, element types
    """
    
    data = requests.get('https://fantasy.premierleague.com/api/bootstrap-static/')
    data = data.json()
    
    return pd.DataFrame(data['events']),\
           pd.DataFrame(data['phases']),\
           pd.DataFrame(data['teams']),\
           pd.DataFrame(data['elements']),\
           pd.DataFrame(data['element_types'])

In [10]:
data = data.json()

In [12]:
data.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [22]:
pd.DataFrame(data['elements'])

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,NaN,None,80201,0,0,0,0,0,1,3.5,...,327,4,198,13,NaN,,NaN,,NaN,
1,NaN,None,115918,0,0,0,0,0,1,2.0,...,340,13,357,32,NaN,,NaN,,NaN,
2,NaN,None,47431,0,0,0,0,0,3,3.2,...,146,85,124,71,1.0,,2.0,,NaN,
3,NaN,None,54694,0,0,0,0,0,4,4.2,...,32,16,50,18,NaN,,NaN,,1.0,
4,NaN,None,58822,0,0,0,0,0,2,2.7,...,265,87,295,101,NaN,,5.0,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,NaN,None,501837,0,0,0,0,0,2,1.2,...,422,167,436,168,NaN,,NaN,,NaN,
487,NaN,None,19236,0,0,0,0,0,1,1.3,...,354,19,354,31,NaN,,NaN,,NaN,
488,NaN,None,222564,0,0,0,0,0,3,1.6,...,483,200,484,200,NaN,,NaN,,NaN,
489,NaN,None,448514,0,0,0,0,0,2,1.2,...,163,36,208,66,NaN,,NaN,,NaN,
490,NaN,None,149065,0,0,0,0,0,1,2.0,...,440,47,447,53,NaN,,NaN,,NaN,

In [14]:
pd.DataFrame(data['elements'])

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,NaN,None,80201,0,0,0,0,0,1,3.5,...,327,4,198,13,NaN,,NaN,,NaN,
1,NaN,None,115918,0,0,0,0,0,1,2.0,...,340,13,357,32,NaN,,NaN,,NaN,
2,NaN,None,47431,0,0,0,0,0,3,3.2,...,146,85,124,71,1.0,,2.0,,NaN,
3,NaN,None,54694,0,0,0,0,0,4,4.2,...,32,16,50,18,NaN,,NaN,,1.0,
4,NaN,None,58822,0,0,0,0,0,2,2.7,...,265,87,295,101,NaN,,5.0,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,NaN,None,501837,0,0,0,0,0,2,1.2,...,422,167,436,168,NaN,,NaN,,NaN,
487,NaN,None,19236,0,0,0,0,0,1,1.3,...,354,19,354,31,NaN,,NaN,,NaN,
488,NaN,None,222564,0,0,0,0,0,3,1.6,...,483,200,484,200,NaN,,NaN,,NaN,
489,NaN,None,448514,0,0,0,0,0,2,1.2,...,163,36,208,66,NaN,,NaN,,NaN,
490,NaN,None,149065,0,0,0,0,0,1,2.0,...,440,47,447,53,NaN,,NaN,,NaN,